@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Stopbuck";
  src: url("/fonts/Stopbuck.ttf");
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
  width: 100%;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.text-shadow {
  text-shadow:
    4px 0 #ffffff,
    -4px 0 #ffffff,
    0 4px #ffffff,
    0 -4px #ffffff,
    4px 4px #ffffff,
    -4px -4px #ffffff,
    -4px 4px #ffffff,
    4px -4px #ffffff;
}

.text-shadow-ANTSs {
  text-shadow:
    4px 0 #ef4444,
    -4px 0 #ef4444,
    0 4px #ef4444,
    0 -4px #ef4444,
    4px 4px #ef4444,
    -4px -4px #ef4444,
    -4px 4px #ef4444,
    4px -4px #ef4444;
}

.text-shadow-ANTSs-not-hover:not(:hover) {
  text-shadow:
    4px 0 #ffffff,
    -4px 0 #ffffff,
    0 4px #ffffff,
    0 -4px #ffffff,
    4px 4px #ffffff,
    -4px -4px #ffffff,
    -4px 4px #ffffff,
    4px -4px #ffffff;
}

.cloud {
  height: 180px; /* control the size */
  aspect-ratio: 1.8;
  --g: radial-gradient(50% 50%, #000 98%, #0000) no-repeat;
  --s: radial-gradient(70% 70%, #000 98%, #0000) no-repeat;
  mask:
    var(--g) 100% 100%/30% 60%,
    var(--g) 70% 0/50% 100%,
    var(--g) 0 100%/36% 68%,
    var(--g) 27% 18%/26% 40%,
    linear-gradient(#000 0 0) bottom/67% 58% no-repeat;
  background: #e4e0e1;
}
